package view_home

import "LoLFun/gopacs/identification"
import "LoLFun/gopacs/views/htmlboilerplate"
import "LoLFun/gopacs/views/profileinterface"

templ HomePage(user *identification.User) {
    @view_htmlboilerplate.HtmlBoilerplate("Home", view_profileinterface.Head_adds()) {
        @view_profileinterface.ProfileSubmitDiv(user)
        @view_profileinterface.ProfileDescDiv(user)
    }
}