:root {
    --orange: rgba(238, 88, 24);
    --orange-profond: rgba(186, 67, 16);
    --orange-fonce: rgba(115, 40, 8, 0.8);
    --orange-moyen: rgba(186, 67, 16, 1);
    --gris: rgba(233, 233, 233);
    --gris-profond: rgba(209, 209, 209)
}